
Lesson_2/Hamburger/.vs/config/applicationhost.config
Lesson_2/Hamburger/.vs/Hamburger/v15/.suo
Lesson_2/Hamburger/.vs/ProjectSettings.json
Lesson_2/Hamburger/.vs/slnx.sqlite
Lesson_2/Hamburger/.vs/VSWorkspaceState.json
