
Lesson_2/Hamburger/.vs/config/applicationhost.config
Lesson_2/Hamburger/.vs/Hamburger/v15/.suo
Lesson_2/Hamburger/.vs/ProjectSettings.json
Lesson_2/Hamburger/.vs/slnx.sqlite
Lesson_2/Hamburger/.vs/VSWorkspaceState.json
Lesson_3/.vs/VSWorkspaceState.json
Lesson_3/.vs/tasks.vs.json
Lesson_3/.vs/slnx.sqlite
Lesson_3/.vs/Shop/v15/.suo
Lesson_3/.vs/ProjectSettings.json
Lesson_3/.vs/Lesson_3/v15/.suo
Lesson_3/.vs/config/applicationhost.config
